
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

*{
	margin:0;
	padding:0;
}
 .allslide{
 	height:3918px;
 	width:100%;
  	
  ;
 	
  }
  #containerSlide{
  	width:100%;
 	height:653px;
 	overflow: hidden;
 	background-repeat: no-repeat;
  }

 .slider{
  background-size:cover;
  height:653px;
  }


/* word part*/
.someWord{
	width:500px;
	margin-top:65%;


}

p{
	
	font-family:"Arial";
	font-size:20px;
	line-height:25px;
	text-transform: uppercase;
	text-shadow:2px 2px 1px #000;
	box-shadow: 1px 1px 5px #202020;
	border:4px solid #fff;
	color:#fff;
	padding:20px;	
	background: rgb(255,255,255); 
    background: rgba(255,255,255,.3);

}

h2{
	color:#fff;
	font-size: 90px;
	padding: 0px;
	margin: 0px;
	font-family:"Dancing Script";
	
}

//part with upp-down ikons;

i{
	color:#fff;/*kogda ego ubirayu image podnimayetsa neverx;*/
	opacity:0.5;
}
#downBut:hover, #upBut:hover{

	opacity:0.6;
	transition:all .3s ease-out;

}

.litlePart{
	/*margin-top:50%;*/
	
	margin-top: 15%;
	position: absolute;
	left:850px;


}

 .imageLitle{
  width:250px;
  height: 180px;
  border: 4px solid #fff;
  float: right;
  background-size:cover;
  /*background-image:url(../img/1.jpg);*/
  }
